<div class="modal fade" id="create-gig-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add a Gig.</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form v-on:submit.prevent="createGig">
                    <div class="form-group">
                        <label>Venue</label>
                        <label>{{ this.createGigForm.venue.name }}</label>
                        <div id="map-ven-select" class="small-map"></div>
                    </div>
                    <div class="form-group">
                        <label>Lineup</label>
                        <input v-for="(artist, index) in createGigForm.lineup " class="form-control" type="text" v-model="createGigForm.lineup[index]" requried>
                        <button type="button" class="btn btn-info" v-on:click="createGigForm.lineup.push('')">Add</button>
                        <button type="button" class="btn btn-danger" v-on:click="createGigForm.lineup.pop()">Remove</button>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input class="form-control" type="date" v-model="createGigForm.date" requried>
                    </div>
                    <button class="form-control btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>