<div class="modal fade modal-xl" id="view-venue-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{ venueViewData.name }}</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="map-selected-ven-view" class="small-map"></div>
                <h4 class="modal-title">Upcoming Gigs</h4>
                <p v-if="noFutureGigsExist">There are no upcoming gigs at this venue. :(</p>
                <table class="table table-bordered table-hover w-100" v-else>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Headliner</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="gig in venueViewData.upcomingGigs" v-on:click="showGig(gig._id)" data-toggle="modal" data-target="#view-gig-modal">
                            <td>{{ moment(new Date(gig.date)).format("ddd, MMM Do 'YY") }}</td>
                            <td>{{ gig.lineup[0] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
