<div class="modal fade" id="view-gig-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <!-- <div class="form-group"> -->
                <h1 class="display-1">{{ gigViewData.lineup[0] }}</h1>
                <p>At: {{ this.gigViewData.venue.name }}</p>
                <div id="map-gig-view" class="small-map"></div>
                <!-- </div> -->
                <div class="form-group">
                    <label>With support from</label>
                    <p v-for="(artist, index) in gigViewData.lineup.slice(1)">{{ artist }}</p>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <p>{{ moment(new Date(gigViewData.date)).format("ddd, MMM Do 'YY") }}</p>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>