<%- include partials/header.ejs %>
<main id="app">
    <div id="map" class="w-100 y-stretch"></div>
    <div id="nav-bar" class="navbar row">
        <div id="menu-btn" class="col-2 nav-elem ">
            <div class="menu-bar-deco"></div>
            <div class="menu-bar-deco"></div>
            <div class="menu-bar-deco"></div>
        </div>
        <input type="text" class="col-10 nav-elem" id="search-bar" placeholder="Search by Artist, Venue or Location">
    </div>
</main>
<%- include partials/footer.ejs %>