body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
  z-index: -1;
}


#nav-bar {
  position: fixed;
  z-index: 5;
  top: 10px;
  left: 5%;
  right: 15%;
  height: 48px;
  pointer-events: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 2px gray;
  padding: 0;
}

#nav-bar .nav-elem{
  padding: 6px 12px;
  height: 100%;
}

#nav-bar .nav-elem:first-child{
  height: 100%;
  border-right: 1px solid gray;
  transition: 0.1s linear;
}

#nav-bar .nav-elem:first-child:hover{
  background-color: #efefef;
}

.menu-bar-deco {
  margin: 6px auto;
  padding: 0 0;
  display: block;
  height: 4px;
  width: 75%;
  max-width: 48px;
  background-color: darkgray;
}

.side-menu {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 10; 
  top: 0; 
  left: -75%;
  width: 75%; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}
.side-menu.open{
  left: 0;
}

#menu-close {
  position: absolute;
  padding: 4px;
  top: 8px;
  right: 8px;
  width: 48px;
  height: 48px;
  transition: 0.1s linear;
}
#menu-close .menu-bar-deco {
  margin: 0 auto;
}
#menu-close:hover .menu-bar-deco {
  background-color: white;
}
#menu-close div:first-child {
  transform: translate(0, 16px) rotateZ(-45deg)
}
#menu-close div:last-child {
  transform: translate(0px, 13px) rotateZ(45deg);
}